html {
    height: 100%;
  }
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#2C3E50, #2C3E50);
  }

.header {
    overflow: hidden;
    background-color: #2C3E50;
    padding: 20px 10px;
    border-bottom: solid 1px;
    /* border-color: #546c85; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position:relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9;
}  

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

.header a.logo {
    font-size: 50px;
    font-weight: bold;
}

.header h1 {
    color: white;
}

#logo-header {
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: absolute;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.game-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgb(255, 255, 255); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

h1 {
    text-align: center;
    color: #2C3E50;
}

#word2translate {
    text-align: center;
    color: black;
    font-size: x-large;
}

#feedback {
    text-align: center;
    color: black;
    font-size: large;
    height: 10px;
}

#input-or-correct{
    /* display: block; */
    margin : 0 auto;
    border: none;
    padding: 0;
    height: 10px;
    margin-bottom: 40px;
}

#input-or-correct p{
    animation-duration: 0.4s;
    animation-name: slidein;
    text-align: center;
}

@keyframes slidein {
    from {transform: translateY(-10px);}
    to   {transform: translateY(0);}
  }

#translation {
    display: block;
    margin : 0 auto;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0;
    box-shadow: none !important;
    outline: none;
}

#verificar {
    transition: 0.4s;
    width: 150;
}

.error
    {
      animation: 1.5s shake infinite alternate;
      box-shadow: 0 0 0.5em red;
}

#submiT {
    margin: auto;
    text-align:center;
    width: fit-content;
    display: flex;
    align-items: center;
}

#submiT:hover {
    transform: scale(1.1);
}

.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
/* display: inline-block; */
border-radius: 100px;
transition: all .2s;
/* position: absolute; */
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* .btn:active {
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

.btn-white {
background-color: #2C3E50;
color: white;
display: block;
}


.btn:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}

@keyframes moveInBottom {
0% {
    opacity: 0;
    transform: translateY(30px);
}

100% {
    opacity: 1;
    transform: translateY(0px);
}
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } 
  }